# Ignore environment file
.env

# Ignore Python virtual environment
.venv/

# Ignore __pycache__ folders
__pycache__/

# Ignore other common Python temporary files
*.pyc
*.pyo

# Ignore idea file
.idea